 :root {
  --cui-blue: #0d6efd;
  --cui-indigo: #6610f2;
  --cui-purple: #6f42c1;
  --cui-pink: #d63384;
  --cui-red: #dc3545;
  --cui-orange: #fd7e14;
  --cui-yellow: #ffc107;
  --cui-green: #198754;
  --cui-teal: #20c997;
  --cui-cyan: #0dcaf0;
  --cui-black: #000015;
  --cui-white: #fff;
  --cui-gray: #8a93a2;
  --cui-gray-dark: #636f83;
  --cui-gray-100: #ebedef;
  --cui-gray-200: #d8dbe0;
  --cui-gray-300: #c4c9d0;
  --cui-gray-400: #b1b7c1;
  --cui-gray-500: #9da5b1;
  --cui-gray-600: #8a93a2;
  --cui-gray-700: #768192;
  --cui-gray-800: #636f83;
  --cui-gray-900: #4f5d73;
  --cui-primary: #321fdb;
  --cui-secondary: #9da5b1;
  --cui-success: #2eb85c;
  --cui-info: #39f;
  --cui-warning: #f9b115;
  --cui-danger: #e55353;
  --cui-light: #ebedef;
  --cui-dark: #4f5d73;
  --cui-primary-rgb: 50, 31, 219;
  --cui-secondary-rgb: 157, 165, 177;
  --cui-success-rgb: 46, 184, 92;
  --cui-info-rgb: 51, 153, 255;
  --cui-warning-rgb: 249, 177, 21;
  --cui-danger-rgb: 229, 83, 83;
  --cui-light-rgb: 235, 237, 239;
  --cui-dark-rgb: 79, 93, 115;
  --cui-white-rgb: 255, 255, 255;
  --cui-black-rgb: 0, 0, 21;
  --cui-body-color-rgb: 44, 56, 74;
  --cui-body-bg-rgb: 255, 255, 255;
  --cui-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --cui-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --cui-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --cui-body-font-family: var(--cui-font-sans-serif);
  --cui-body-font-size: 1rem;
  --cui-body-font-weight: 400;
  --cui-body-line-height: 1.5;
  --cui-body-color: rgba(44, 56, 74, 0.95);
  --cui-body-color-rgb: 44, 56, 74;
  --cui-body-bg: #fff;
  --cui-body-bg-rgb: 255, 255, 255;
  --cui-emphasis-color: #000015;
  --cui-emphasis-color-rgb: 0, 0, 21;
  --cui-secondary-color: rgba(44, 56, 74, 0.681);
  --cui-secondary-color-rgb: 44, 56, 74;
  --cui-secondary-bg: #d8dbe0;
  --cui-secondary-bg-rgb: 216, 219, 224;
  --cui-tertiary-color: rgba(44, 56, 74, 0.38);
  --cui-tertiary-color-rgb: 44, 56, 74;
  --cui-tertiary-bg: #ebedef;
  --cui-tertiary-bg-rgb: 235, 237, 239;
  --cui-high-emphasis: rgba(44, 56, 74, 0.95);
  --cui-medium-emphasis: rgba(44, 56, 74, 0.681);
  --cui-disabled: rgba(44, 56, 74, 0.38);
  --cui-high-emphasis-inverse: rgba(255, 255, 255, 0.87);
  --cui-medium-emphasis-inverse: rgba(255, 255, 255, 0.6);
  --cui-disabled-inverse: rgba(255, 255, 255, 0.38);
  --cui-heading-color: inherit;
  --cui-link-color: #321fdb;
  --cui-link-color-rgb: 50, 31, 219;
  --cui-link-decoration: underline;
  --cui-link-hover-color: #2819af;
  --cui-link-hover-color-rgb: 40, 25, 175;
  --cui-code-color: #d63384;
  --cui-highlight-color: rgba(44, 56, 74, 0.95);
  --cui-highlight-bg: #fff3cd;
  --cui-border-width: 1px;
  --cui-border-style: solid;
  --cui-border-color: #d8dbe0;
  --cui-border-color-translucent: rgba(0, 0, 21, 0.175);
  --cui-border-radius: 0.375rem;
  --cui-border-radius-sm: 0.25rem;
  --cui-border-radius-lg: 0.5rem;
  --cui-border-radius-xl: 1rem;
  --cui-border-radius-xxl: 2rem;
  --cui-border-radius-2xl: var(--cui-border-radius-xxl);
  --cui-border-radius-pill: 50rem;
  --cui-box-shadow: 0 0.5rem 1rem rgba(0, 0, 21, 0.15);
  --cui-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 21, 0.075);
  --cui-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 21, 0.175);
  --cui-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 21, 0.075);
  --cui-focus-ring-width: 0.25rem;
  --cui-focus-ring-opacity: 0.25;
  --cui-focus-ring-color: rgba(50, 31, 219, 0.25);
  --cui-form-valid-color: #2eb85c;
  --cui-form-valid-border-color: #2eb85c;
  --cui-form-invalid-color: #e55353;
  --cui-form-invalid-border-color: #e55353;
  --cui-breakpoint-xs: 0;
  --cui-breakpoint-sm: 576px;
  --cui-breakpoint-md: 768px;
  --cui-breakpoint-lg: 992px;
  --cui-breakpoint-xl: 1200px;
  --cui-breakpoint-xxl: 1400px;
  --cui-mobile-breakpoint: md;
}


[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
    display: none !important;
}

.calendar {
    --cui-calendar-table-margin: 0.5rem;
    --cui-calendar-table-cell-size: 2.75rem;
    --cui-calendar-nav-padding: 0.5rem;
    --cui-calendar-nav-border: 1px solid var(--cui-border-color);
    --cui-calendar-nav-date-color: var(--cui-body-color);
    --cui-calendar-nav-date-hover-color: var(--cui-primary);
    --cui-calendar-nav-icon-width: 1rem;
    --cui-calendar-nav-icon-height: 1rem;
    --cui-calendar-cell-header-inner-color: var(--cui-secondary-color);
    --cui-calendar-cell-hover-bg: var(--cui-tertiary-bg);
    --cui-calendar-cell-disabled-color: var(--cui-tertiary-color);
    --cui-calendar-cell-selected-color: #fff;
    --cui-calendar-cell-selected-bg: var(--cui-primary);
    --cui-calendar-cell-range-bg: rgba(var(--cui-primary-rgb), 0.125);
    --cui-calendar-cell-range-hover-bg: rgba(var(--cui-primary-rgb), 0.25);
    --cui-calendar-cell-range-hover-border-color: var(--cui-primary);
    --cui-calendar-cell-today-color: var(--cui- #e55353);
    font-weight: initial;
}

.calendar table {
    width: calc(var(--cui-calendar-table-cell-size) * 7);
    margin: var(--cui-calendar-table-margin);
}

.calendar table td, .calendar table th {
    width: var(--cui-calendar-table-cell-size);
}

.calendar.months ~ .time-picker, .calendar.years ~ .time-picker {
    display: none;
}

.calendars {
    display: flex;
}

.calendar-nav {
    display: flex;
    align-items: baseline;
    padding: var(--cui-calendar-nav-padding);
    border-bottom: var(--cui-calendar-nav-border);
}

.calendar-nav-date {
    flex: 1;
    text-align: center;
}

.calendar-nav-date .btn {
    font-weight: 600;
    color: var(--cui-calendar-nav-date-color);
}

.calendar-nav-date .btn:hover {
    color: var(--cui-calendar-nav-date-hover-color);
}

.calendar-nav-icon {
    display: block;
    width: var(--cui-calendar-nav-icon-width);
    height: var(--cui-calendar-nav-icon-height);
    transition: background-image .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .calendar-nav-icon {
        transition: none;
    }
}

.calendar-nav-icon-double-next {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.38%29' points='95.314 447.313 72.686 424.687 245.373 252 72.686 79.313 95.314 56.687 290.627 252 95.314 447.313'%3e%3c/polygon%3e%3cpolygon fill='rgba%2844, 56, 74, 0.38%29' points='255.314 447.313 232.686 424.687 405.373 252 232.686 79.313 255.314 56.687 450.627 252 255.314 447.313'%3e%3c/polygon%3e%3c/svg%3e");
}

.calendar-nav-icon-double-next:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.95%29' points='95.314 447.313 72.686 424.687 245.373 252 72.686 79.313 95.314 56.687 290.627 252 95.314 447.313'%3e%3c/polygon%3e%3cpolygon fill='rgba%2844, 56, 74, 0.95%29' points='255.314 447.313 232.686 424.687 405.373 252 232.686 79.313 255.314 56.687 450.627 252 255.314 447.313'%3e%3c/polygon%3e%3c/svg%3e");
}

.calendar-nav-icon-double-prev {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.38%29' points='416.686 447.313 221.373 252 416.686 56.687 439.314 79.313 266.627 252 439.314 424.687 416.686 447.313'%3e%3c/polygon%3e%3cpolygon fill='rgba%2844, 56, 74, 0.38%29' points='256.686 447.313 61.373 252 256.686 56.687 279.314 79.313 106.627 252 279.314 424.687 256.686 447.313'%3e%3c/polygon%3e%3c/svg%3e");
}

.calendar-nav-icon-double-prev:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.95%29' points='416.686 447.313 221.373 252 416.686 56.687 439.314 79.313 266.627 252 439.314 424.687 416.686 447.313'%3e%3c/polygon%3e%3cpolygon fill='rgba%2844, 56, 74, 0.95%29' points='256.686 447.313 61.373 252 256.686 56.687 279.314 79.313 106.627 252 279.314 424.687 256.686 447.313'%3e%3c/polygon%3e%3c/svg%3e");
}

.calendar-nav-icon-next {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.38%29' points='179.313 451.313 156.687 428.687 329.372 256 156.687 83.313 179.313 60.687 374.627 256 179.313 451.313'%3e%3c/polygon%3e%3c/svg%3e");
}

.calendar-nav-icon-next:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.95%29' points='179.313 451.313 156.687 428.687 329.372 256 156.687 83.313 179.313 60.687 374.627 256 179.313 451.313'%3e%3c/polygon%3e%3c/svg%3e");
}

.calendar-nav-icon-prev {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.38%29' points='324.687 451.313 129.373 256 324.687 60.687 347.313 83.313 174.628 256 347.313 428.687 324.687 451.313'%3e%3c/polygon%3e%3c/svg%3e");
}

.calendar-nav-icon-prev:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.95%29' points='324.687 451.313 129.373 256 324.687 60.687 347.313 83.313 174.628 256 347.313 428.687 324.687 451.313'%3e%3c/polygon%3e%3c/svg%3e");
}

.calendar-header-cell-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--cui-calendar-table-cell-size);
    font-weight: 600;
    color: var(--cui-calendar-cell-header-inner-color);
}

.calendar-cell {
    padding: 1px 0;
    text-align: center;
}

.calendar-cell.clickable:hover .calendar-cell-inner, .calendar-cell:not(.disabled):not(.next):not(.previous):hover .calendar-cell-inner {
    cursor: pointer;
    background-color: var(--cui-calendar-cell-hover-bg);
}

.calendar-cell.today .calendar-cell-inner {
    color: var(--cui-calendar-cell-today-color);
}

.calendar-cell.disabled, .calendar-cell.next, .calendar-cell.previous .calendar-cell-inner {
    color: var(--cui-calendar-cell-disabled-color);
}

.calendar-cell.disabled .calendar-cell-inner {
    cursor: not-allowed;
}

.calendar-cell.range:not(.selected) .calendar-cell-inner {
    background: var(--cui-calendar-cell-range-bg);
    border-radius: 0;
}

.calendar-cell.range:not(.selected):hover .calendar-cell-inner {
    position: relative;
}

.calendar-cell.range:not(.selected):hover .calendar-cell-inner::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--cui-calendar-cell-range-hover-bg);
    border-radius: .375rem;
}

.calendar-cell.range:not(.selected):first-child .calendar-cell-inner, .calendar-cell:not(.range) + .range .calendar-cell-inner {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}

.calendar-cell.range:not(.selected).last .calendar-cell-inner, .calendar-cell.range:not(.selected):last-child .calendar-cell-inner {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.calendar-cell.range-hover .calendar-cell-inner {
    position: relative;
}

.calendar-cell.range-hover .calendar-cell-inner::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
}

.calendar-cell.range-hover .calendar-cell-inner::before, .calendar-cell.range-hover.selected .calendar-cell-inner::before {
    border-top: 1px dashed var(--cui-calendar-cell-selected-bg);
    border-bottom: 1px dashed var(--cui-calendar-cell-selected-bg);
    border-radius: 0;
}

.calendar-cell.range-hover:first-child .calendar-cell-inner::before, .calendar-cell:not(.range-hover) + .range-hover .calendar-cell-inner::before {
    border-left: 1px dashed var(--cui-calendar-cell-selected-bg);
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}

.calendar-cell.range-hover + .range-hover:hover .calendar-cell-inner::before, .calendar-cell.range-hover.last .calendar-cell-inner::before, .calendar-cell.range-hover:first-child:hover .calendar-cell-inner::before, .calendar-cell.range-hover:last-child .calendar-cell-inner::before {
    border-right: 1px dashed var(--cui-calendar-cell-selected-bg);
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.calendar-cell.range-hover.selected:hover .calendar-cell-inner::before {
    border: 0;
}

.calendar-cell.selected:not(.previous):not(.next) .calendar-cell-inner, .calendar-cell.selected:not(.previous):not(.next).end .calendar-cell-inner, .calendar-cell.selected:not(.previous):not(.next).start .calendar-cell-inner {
    position: relative;
    color: var(--cui-calendar-cell-selected-color);
    background: var(--cui-calendar-cell-selected-bg);
}

.calendar-cell.selected:not(.previous):not(.next).end .calendar-cell-inner::before, .calendar-cell.selected:not(.previous):not(.next).start .calendar-cell-inner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    background: var(--cui-calendar-cell-range-bg);
}

.calendar-cell.selected:not(.previous):not(.next).start .calendar-cell-inner::before {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.calendar-cell.selected:not(.previous):not(.next).end .calendar-cell-inner::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.calendar-cell-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--cui-calendar-table-cell-size);
    border-radius: .375rem;
}

.callout {
    --cui-callout-padding-x: 1rem;
    --cui-callout-padding-y: 1rem;
    --cui-callout-margin-x: 0;
    --cui-callout-margin-y: 1rem;
    --cui-callout-border-width: var(--cui-border-width);
    --cui-callout-border-color: var(--cui-border-color);
    --cui-callout-border-left-width: calc(var(--cui-border-width) * 4);
    --cui-callout-border-radius: var(--cui-border-radius);
    padding: var(--cui-callout-padding-y) var(--cui-callout-padding-x);
    margin: var(--cui-callout-margin-y) var(--cui-callout-margin-x);
    border: var(--cui-callout-border-width) solid var(--cui-callout-border-color);
    border-left-width: var(--cui-callout-border-left-width);
    border-left-color: var(--cui-callout-border-left-color);
    border-radius: var(--cui-callout-border-radius);
}

.callout-primary {
    --cui-callout-border-left-color: #321fdb;
}

.callout-secondary {
    --cui-callout-border-left-color: #9da5b1;
}

.callout-success {
    --cui-callout-border-left-color: #2eb85c;
}

.callout-danger {
    --cui-callout-border-left-color: #e55353;
}

.callout-warning {
    --cui-callout-border-left-color: #f9b115;
}

.callout-info {
    --cui-callout-border-left-color: #39f;
}

.callout-light {
    --cui-callout-border-left-color: #ebedef;
}

.callout-dark {
    --cui-callout-border-left-color: #4f5d73;
}

.picker {
    --cui-picker-footer-border-top: 1px solid #d8dbe0;
    --cui-picker-footer-padding: 0.5rem;
}

.picker .dropdown-menu {
    padding: 0;
}

.picker.show .input-group {
    color: var(--cui-input-focus-color, var(--cui-body-color));
    background-color: var(--cui-input-focus-bg, var(--cui-body-bg));
    border-color: var(--cui-input-focus-border-color, #998fed);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(50, 31, 219, .25);
}

.picker-input-group:hover .form-control:not(:-moz-placeholder-shown) ~ .input-group-text .picker-input-group-indicator:not(:last-child) {
    display: none;
}

.picker-input-group:hover .form-control:not(:placeholder-shown) ~ .input-group-text .picker-input-group-indicator:not(:last-child) {
    display: none;
}

.picker-input-group:hover .form-control:not(:-moz-placeholder-shown) ~ .input-group-text .picker-input-group-cleaner {
    display: initial;
}

.picker-input-group:hover .form-control:not(:placeholder-shown) ~ .input-group-text .picker-input-group-cleaner {
    display: initial;
}

.picker-input-group .form-control.hover {
    color: var(--cui-gray-500);
}

.picker-input-group .form-control:focus {
    border-color: var(--cui-input-border-color, var(--cui-border-color));
    outline: 0;
    box-shadow: none;
}

.picker-input-group .form-control:not(:first-child) {
    border-left: 0;
}

.picker-input-group .form-control:not(:last-child) {
    border-right: 0;
}

.picker-input-group .form-control[readonly] {
    background-color: var(--cui-input-bg, var(--cui-body-bg));
}

.picker-input-group .form-control.form-control:disabled + .input-group-text {
    background-color: var(--cui-input-disabled-bg, var(--cui-secondary-bg));
}

.picker-input-group.input-group {
    border-radius: var(--cui-border-radius);
}

.picker-input-group.input-group-lg {
    border-radius: var(--cui-border-radius-lg);
}

.picker-input-group.input-group-lg .picker-input-group-icon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
}

.picker-input-group.input-group-sm {
    border-radius: var(--cui-border-radius-sm);
}

.picker-input-group.input-group-sm .picker-input-group-icon {
    width: .875rem;
    height: .875rem;
    font-size: .875rem;
}

.picker-input-group .input-group-text {
    color: var(--cui-gray-400);
    background-color: var(--cui-input-bg, var(--cui-body-bg));
}

.picker-input-group-cleaner {
    display: none;
}

.picker-input-group-icon {
    display: block;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    transition: background-image .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .picker-input-group-icon {
        transition: none;
    }
}

.picker-footer {
    display: flex;
    justify-content: flex-end;
    padding: var(--cui-picker-footer-padding);
    border-top: var(--cui-picker-footer-border-top);
}

.picker-footer .btn + .btn {
    margin-left: .5rem;
}

.date-picker {
    --cui-date-picker-ranges-width: 10rem;
    --cui-date-picker-ranges-padding: 0.5rem;
    --cui-date-picker-ranges-border: 1px solid var(--cui-border-color);
    --cui-date-picker-timepicker-width: 20.25rem;
    --cui-date-picker-timepicker-border-top: 1px solid var(--cui-border-color);
}

.date-picker .dropdown-menu {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.date-picker.is-invalid .form-control {
    --cui-input-border-color: #e55353;
}

.date-picker.is-invalid .input-group-text {
    --cui-input-group-addon-border-color: #e55353;
}

.date-picker.is-invalid .picker-input-group-indicator {
    --cui-input-group-addon-color: #e55353;
}

.date-picker.is-invalid .date-picker-input-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpath fill='%23e55353' d='M472,96H384V40H352V96H160V40H128V96H40a24.028,24.028,0,0,0-24,24V456a24.028,24.028,0,0,0,24,24H472a24.028,24.028,0,0,0,24-24V120A24.028,24.028,0,0,0,472,96Zm-8,352H48V128h80v40h32V128H352v40h32V128h80Z'%3e%3c/path%3e%3crect width='32' height='32' x='112' y='224' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='200' y='224' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='280' y='224' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='368' y='224' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='112' y='296' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='200' y='296' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='280' y='296' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='368' y='296' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='112' y='368' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='200' y='368' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='280' y='368' fill='%23e55353'%3e%3c/rect%3e%3crect width='32' height='32' x='368' y='368' fill='%23e55353'%3e%3c/rect%3e%3c/svg%3e");
}

.date-picker.is-valid .form-control {
    --cui-input-border-color: #2eb85c;
}

.date-picker.is-valid .input-group-text {
    --cui-input-group-addon-border-color: #2eb85c;
}

.date-picker.is-valid .picker-input-group-indicator {
    --cui-input-group-addon-color: #2eb85c;
}

.date-picker.is-valid .date-picker-input-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpath fill='%232eb85c' d='M472,96H384V40H352V96H160V40H128V96H40a24.028,24.028,0,0,0-24,24V456a24.028,24.028,0,0,0,24,24H472a24.028,24.028,0,0,0,24-24V120A24.028,24.028,0,0,0,472,96Zm-8,352H48V128h80v40h32V128H352v40h32V128h80Z'%3e%3c/path%3e%3crect width='32' height='32' x='112' y='224' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='200' y='224' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='280' y='224' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='368' y='224' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='112' y='296' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='200' y='296' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='280' y='296' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='368' y='296' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='112' y='368' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='200' y='368' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='280' y='368' fill='%232eb85c'%3e%3c/rect%3e%3crect width='32' height='32' x='368' y='368' fill='%232eb85c'%3e%3c/rect%3e%3c/svg%3e");
}

.date-picker-body {
    display: grid;
    grid-template-areas: "ranges calendars" "ranges timepickers";
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.date-picker-ranges {
    grid-area: ranges;
    width: var(--cui-date-picker-ranges-width);
    padding: var(--cui-date-picker-ranges-padding);
    border-right: var(--cui-date-picker-ranges-border);
}

.date-picker-calendars {
    display: flex;
    grid-area: calendars;
}

.date-picker-calendars .date-picker-calendar:not(:last-child) .calendar-navigation-next {
    visibility: hidden;
}

.date-picker-calendars .date-picker-calendar:not(:first-child) .calendar-navigation-prev {
    visibility: hidden;
}

.date-picker-arrow-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='%238a93a2' points='359.873 121.377 337.246 144.004 433.243 240.001 16 240.001 16 240.002 16 272.001 16 272.002 433.24 272.002 337.246 367.996 359.873 390.623 494.498 256 359.873 121.377'%3e%3c/polygon%3e%3c/svg%3e");
}

.date-picker-cleaner-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='%238a93a2' points='306.912 214.461 256 265.373 205.088 214.461 182.461 237.088 233.373 288 182.461 338.912 205.088 361.539 256 310.627 306.912 361.539 329.539 338.912 278.627 288 329.539 237.088 306.912 214.461'%3e%3c/polygon%3e%3cpath fill='%238a93a2' d='M472,96H384V40H352V96H160V40H128V96H40a24.028,24.028,0,0,0-24,24V456a24.028,24.028,0,0,0,24,24H472a24.028,24.028,0,0,0,24-24V120A24.028,24.028,0,0,0,472,96Zm-8,352H48V128h80v40h32V128H352v40h32V128h80Z'%3e%3c/path%3e%3c/svg%3e");
}

.date-picker-cleaner-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.95%29' points='306.912 214.461 256 265.373 205.088 214.461 182.461 237.088 233.373 288 182.461 338.912 205.088 361.539 256 310.627 306.912 361.539 329.539 338.912 278.627 288 329.539 237.088 306.912 214.461'%3e%3c/polygon%3e%3cpath fill='rgba%2844, 56, 74, 0.95%29%29' d='M472,96H384V40H352V96H160V40H128V96H40a24.028,24.028,0,0,0-24,24V456a24.028,24.028,0,0,0,24,24H472a24.028,24.028,0,0,0,24-24V120A24.028,24.028,0,0,0,472,96Zm-8,352H48V128h80v40h32V128H352v40h32V128h80Z'%3e%3c/path%3e%3c/svg%3e");
}

.date-picker-input-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpath fill='%238a93a2' d='M472,96H384V40H352V96H160V40H128V96H40a24.028,24.028,0,0,0-24,24V456a24.028,24.028,0,0,0,24,24H472a24.028,24.028,0,0,0,24-24V120A24.028,24.028,0,0,0,472,96Zm-8,352H48V128h80v40h32V128H352v40h32V128h80Z'%3e%3c/path%3e%3crect width='32' height='32' x='112' y='224' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='200' y='224' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='280' y='224' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='368' y='224' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='112' y='296' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='200' y='296' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='280' y='296' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='368' y='296' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='112' y='368' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='200' y='368' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='280' y='368' fill='%238a93a2'%3e%3c/rect%3e%3crect width='32' height='32' x='368' y='368' fill='%238a93a2'%3e%3c/rect%3e%3c/svg%3e");
}

.date-picker-timepickers {
    display: flex;
    flex-wrap: wrap;
    grid-area: timepickers;
    justify-content: space-between;
    border-top: var(--cui-date-picker-timepicker-border-top);
}

.date-picker-timepickers .time-picker {
    width: var(--cui-date-picker-timepicker-width);
}

.date-picker-timepickers .time-picker .form-select {
    width: initial;
    padding-right: .25rem !important;
    padding-left: .25rem !important;
    text-align: right;
    background-image: none !important;
    border: 0;
}

.date-picker-timepickers .time-picker .form-select:disabled {
    color: rgba(44, 56, 74, .38);
    background-color: transparent;
}

@media (max-width: 767.98px) {
    .date-picker-timepickers {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .date-picker-timepickers .time-picker {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .date-picker-timepickers .time-picker + .time-picker {
        border-top: var(--cui-date-picker-timepicker-border-top);
    }
}

.time-picker {
    --cui-time-picker-body-padding: 0.5rem;
    --cui-time-picker-roll-col-border: 1px solid var(--cui-border-color);
}

.time-picker.is-invalid .form-control {
    --cui-input-border-color: #e55353;
}

.time-picker.is-invalid .input-group-text {
    --cui-input-group-addon-border-color: #e55353;
}

.time-picker.is-invalid .picker-input-group-indicator {
    --cui-input-group-addon-color: #e55353;
}

.time-picker.is-invalid .time-picker-input-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='%23e55353' points='271.514 95.5 239.514 95.5 239.514 273.611 355.127 328.559 368.864 299.657 271.514 253.389 271.514 95.5' class='ci-primary'%3e%3c/polygon%3e%3cpath fill='%23e55353' d='M256,16C123.452,16,16,123.452,16,256S123.452,496,256,496,496,388.548,496,256,388.548,16,256,16Zm0,448C141.125,464,48,370.875,48,256S141.125,48,256,48s208,93.125,208,208S370.875,464,256,464Z' class='ci-primary'%3e%3c/path%3e%3c/svg%3e");
}

.time-picker.is-valid .form-control {
    --cui-input-border-color: #2eb85c;
}

.time-picker.is-valid .input-group-text {
    --cui-input-group-addon-border-color: #2eb85c;
}

.time-picker.is-valid .picker-input-group-indicator {
    --cui-input-group-addon-color: #2eb85c;
}

.time-picker.is-valid .time-picker-input-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='%232eb85c' points='271.514 95.5 239.514 95.5 239.514 273.611 355.127 328.559 368.864 299.657 271.514 253.389 271.514 95.5' class='ci-primary'%3e%3c/polygon%3e%3cpath fill='%232eb85c' d='M256,16C123.452,16,16,123.452,16,256S123.452,496,256,496,496,388.548,496,256,388.548,16,256,16Zm0,448C141.125,464,48,370.875,48,256S141.125,48,256,48s208,93.125,208,208S370.875,464,256,464Z' class='ci-primary'%3e%3c/path%3e%3c/svg%3e");
}

.time-picker-body {
    display: flex;
    align-items: center;
    padding: var(--cui-time-picker-body-padding);
}

.time-picker-body .form-select {
    padding-right: 1.25rem;
    background-position: right .5rem center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.time-picker-body .form-select + .form-select {
    margin-left: .5rem;
}

.time-picker-body .form-select::-webkit-scrollbar {
    width: 10px;
}

.time-picker-body .time-picker-inline-icon {
    display: block;
    width: 40px;
    height: 1.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='%238a93a2' points='271.514 95.5 239.514 95.5 239.514 273.611 355.127 328.559 368.864 299.657 271.514 253.389 271.514 95.5' class='ci-primary'%3e%3c/polygon%3e%3cpath fill='%238a93a2' d='M256,16C123.452,16,16,123.452,16,256S123.452,496,256,496,496,388.548,496,256,388.548,16,256,16Zm0,448C141.125,464,48,370.875,48,256S141.125,48,256,48s208,93.125,208,208S370.875,464,256,464Z' class='ci-primary'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}

.time-picker-cleaner-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='%238a93a2' points='348.071 141.302 260.308 229.065 172.545 141.302 149.917 163.929 237.681 251.692 149.917 339.456 172.545 362.083 260.308 274.32 348.071 362.083 370.699 339.456 282.935 251.692 370.699 163.929 348.071 141.302' class='ci-primary'%3e%3c/polygon%3e%3cpath fill='%238a93a2' d='M425.706,86.294A240,240,0,0,0,86.294,425.706,240,240,0,0,0,425.706,86.294ZM256,464C141.309,464,48,370.691,48,256S141.309,48,256,48s208,93.309,208,208S370.691,464,256,464Z' class='ci-primary'%3e%3c/path%3e%3c/svg%3e");
}

.time-picker-cleaner-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='rgba%2844, 56, 74, 0.95%29' points='348.071 141.302 260.308 229.065 172.545 141.302 149.917 163.929 237.681 251.692 149.917 339.456 172.545 362.083 260.308 274.32 348.071 362.083 370.699 339.456 282.935 251.692 370.699 163.929 348.071 141.302' class='ci-primary'%3e%3c/polygon%3e%3cpath fill='rgba%2844, 56, 74, 0.95%29' d='M425.706,86.294A240,240,0,0,0,86.294,425.706,240,240,0,0,0,425.706,86.294ZM256,464C141.309,464,48,370.691,48,256S141.309,48,256,48s208,93.309,208,208S370.691,464,256,464Z' class='ci-primary'%3e%3c/path%3e%3c/svg%3e");
}

.time-picker-input-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' role='img'%3e%3cpolygon fill='%238a93a2' points='271.514 95.5 239.514 95.5 239.514 273.611 355.127 328.559 368.864 299.657 271.514 253.389 271.514 95.5' class='ci-primary'%3e%3c/polygon%3e%3cpath fill='%238a93a2' d='M256,16C123.452,16,16,123.452,16,256S123.452,496,256,496,496,388.548,496,256,388.548,16,256,16Zm0,448C141.125,464,48,370.875,48,256S141.125,48,256,48s208,93.125,208,208S370.875,464,256,464Z' class='ci-primary'%3e%3c/path%3e%3c/svg%3e");
}

.time-picker-roll {
    padding: 0;
    overflow: hidden;
    border-radius: inherit;
}

.time-picker-roll-col {
    height: 256px;
    overflow: scroll;
    border-right: var(--cui-time-picker-roll-col-border);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.time-picker-roll-col::-webkit-scrollbar {
    display: none;
}

.time-picker-roll-cell {
    width: 50px;
    height: 32px;
    padding: 0 1rem 0 .5rem;
    line-height: 32px;
}

.time-picker-roll-cell.selected {
    color: var(--cui-white);
    background: var(--cui-primary);
}

.time-picker-roll-cell:last-child::after {
    display: block;
    height: 224px;
    content: "";
}
.dropdown-menu show.selected {
  color: var(--cui-white);
  background: var(--cui-primary);
}