<div class="modal fade" role="dialog" tabindex="-1" id="modal-show-annotation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Descripción</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-right: 0px;margin-left: 0;margin-bottom: 20px;">
                    <input type="hidden" id="annotation-id">
                    <div class="col">
                        <div><label class="form-label"><strong>Descripción</strong></label>
                            <textarea
                                    rows="15"
                                    id="textarea-description"
                                    name="description"
                                    class="form-control" data-bs-toggle="tooltip" data-bss-tooltip=""
                                    title="Anote los archivos a borrar"></textarea></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>