{% extends 'index.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'assets/datatable/css/dataTables.bootstrap5.min.css' %}">
{% endblock %}

{% block container %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Información del cliente <strong>{{ object.name }}</strong></h3>
        <div class="row d-xl-flex justify-content-xl-center">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <span>Grabaciones Realizadas</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ object.record_set.count }}</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                    <span>Utilidad generada</span></div>
                                {% if object.get_utility %}
                                    <div class="text-dark fw-bold h5 mb-0"><span>$ {{ object.get_utility }}</span></div>
                                {% else %}
                                    <b><span>No posee</span></b>
                                {% endif %}
                            </div>
                            <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1">
                                    <span>Deudas</span></div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    {% if object.get_debt_count != 0 %}
                                        ({{ object.get_debt_count }}) ${{ object.get_debt_amount }}
                                    {% else %}
                                        <span>No posee</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-heart-broken fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div id="personal_info" class="card-body text-center shadow">
                        <img src="{{ object.get_photo }}"
                             class="rounded-circle mb-3 mt-4 thumbnail"
                             width="160" height="160" data-bs-toggle="modal"
                             data-bs-target="#imagenModal"
                             data-bss-tooltip=""
                             data-img="{{ object.get_photo }}"
                             role="button" alt="Imágen del cliente">
                        <div>
                            <p>{{ object.name }}</p>
                            {% if object.mobile %}
                                <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center"><i
                                        class="fab fa-whatsapp" style="margin-right: 3px;"></i>
                                    <span>+53 {{ object.mobile }}</span>
                                    <button class="btn btn-success btn-sm" type="button"
                                            style="margin-left: 10px;"><i class="fas fa-phone-alt"></i></button>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>

            </div>
            {% if object.get_debt_count != 0 %}
                <div class="col-lg-8">
                    <div class="card shadow">
                        <div class="card-header flex-column justify-content-center align-items-center flex-wrap py-3">
                            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center align-items-sm-center align-items-md-center justify-content-lg-end align-items-xl-center justify-content-xxl-start align-items-xxl-center">
                                <div style="width: 50%;">
                                    <p class="text-primary d-flex justify-content-start align-items-center m-0 fw-bold">
                                        Deudas</p>
                                </div>
                                <div class="d-inline-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 justify-content-end align-items-center justify-content-sm-end justify-content-md-end align-items-md-start justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable-2" role="grid"
                                 aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Costo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for debt in object.get_debts %}
                                        <tr style="/*padding: 0px;*/">
                                            <td>{{ debt.date_record }}</td>
                                            <td>
                                            <span class="badge bg-danger"
                                                  title="Esta grabación aún no se ha pagado">
                                                {{ debt.price }}
                                            </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td><strong>Fecha</strong></td>
                                        <td><strong>Costo</strong></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col">
                <div class="card shadow">
                    <div class="card-header flex-column justify-content-center align-items-center flex-wrap py-3">
                        <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center align-items-sm-center align-items-md-center justify-content-lg-end align-items-xl-center justify-content-xxl-start align-items-xxl-center">
                            <div style="width: 50%;">
                                <p class="text-primary d-flex justify-content-start align-items-center m-0 fw-bold">
                                    Grabaciones</p>
                            </div>
                            <div class="d-inline-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 justify-content-end align-items-center justify-content-sm-end justify-content-md-end align-items-md-start justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable-1" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable2">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Costo</th>
                                    <th>Descripción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in object.record_set.all %}
                                    <tr style="/*padding: 0px;*/">
                                        <td>{{ record.date_record }}</td>
                                        <td>
                                            {% if record.is_debtor %}
                                                <span class="badge bg-danger"
                                                      title="Esta grabación aún no se ha pagado">
                                                            {{ record.price }}
                                                        </span>
                                            {% else %}
                                                <span class="align-content-center text-center">
                                                            {{ record.price }}
                                                        </span>
                                            {% endif %}</td>
                                        <td>
                                            {% if record.description %}
                                                <button class="btn btn-primary btn-sm annotations"
                                                        id=""
                                                        data-bs-toggle="modal" data-bss-tooltip=""
                                                        type="button"
                                                        data-bs-target="#modal-show-annotation"
                                                        title="Permite mostrar los elementos de la descripción"
                                                        data-description="{{ record.description }}"><i
                                                        class="far fa-eye"></i></button>

                                            {% else %}
                                                <span>
                                            -
                                        </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td><strong>Fecha</strong></td>
                                    <td><strong>Costo</strong></td>
                                    <td><strong>Descripción</strong><br></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'layout/modals/show_image.html' %}
    {% include 'layout/modals/modal-show-descriptions.html' %}

    <script src="{% static 'assets/js/jquery-3.7.0.js' %}"></script>
    <script src="{% static 'assets/datatable/js/jquery.dataTable.min.js' %}"></script>
    <script src="{% static 'assets/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/js/table.js' %}"></script>
    <script>
        hover_function()
        new DataTable('#dataTable', {
            language: {
                info: 'Mostrando página _PAGE_ de _PAGES_',
                infoEmpty: 'No existen registros a mostrar',
                infoFiltered: '(Buscado de _MAX_ registros total)',
                lengthMenu: 'Mostrar _MENU_ registros por página',
                zeroRecords: 'No existen registros - lo sentimos'
            }
        });
        new DataTable('#dataTable2', {
            language: {
                info: 'Mostrando página _PAGE_ de _PAGES_',
                infoEmpty: 'No existen registros a mostrar',
                infoFiltered: '(Buscado de _MAX_ registros total)',
                lengthMenu: 'Mostrar _MENU_ registros por página',
                zeroRecords: 'No existen registros - lo sentimos'
            }
        });
    </script>
    <script>
        /////////////////////////////////////
        // Cargar dinámicamente los modals //
        /////////////////////////////////////
        $('#personal_info').on('click', '.thumbnail', function () {
            let imgSrc = $(this).data('img');
            $('#imagenGrande').attr('src', imgSrc);
        });
        $('#dataTable , #dataTable2 ').on('click', '.annotations', function () {
            let description = $(this).data('description');
            $('#textarea-description').val(description);
        });
    </script>
{% endblock %}