{% extends "index.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/datatable/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/select2/css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/select2/css/select2.main.css' %}">

    <script src="{% static 'assets/datatable/js/jquery.dataTable.min.js' %}"></script>
    <script src="{% static 'assets/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/js/forms_and_validations.js' %}"></script>
    <script src="{% static 'assets/sweetalert2/sweetalert2.js' %}"></script>
{% endblock %}

{% block container %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                {% if message.tags == 'success' %}
                    <script>
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: '{{message}}',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    </script>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Panel de grabación diario</h3><a
                class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i
                class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generar Reporte</a>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <span>Grabaciones (Diario)</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ object_list.count }}</span></div>
                            </div>
                            <div class="col-auto"><i class="far fa-calendar fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Utilidad
                                            (Diario)</span></div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span>
                                        {% if utility %}
                                            ${{ utility }}
                                        {% else %}
                                            $0
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Clientes
                                            (Diario)</span></div>
                                <div class="row g-0 align-items-center">
                                    <div class="col-auto">
                                        <div class="text-dark fw-bold h5 mb-0 me-3"><span>{{ customers.count }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto"><i class="far fa-user fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Deudas
                                            (Diario)</span></div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span>{{ debit_count }}
                                        {% if debit_amount %}
                                            (${{ debit_amount }})
                                        {% endif %} </span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-heart-broken fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header flex-column justify-content-center align-items-center flex-wrap py-3">
                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center align-items-sm-center align-items-md-center justify-content-lg-end align-items-xl-center justify-content-xxl-start align-items-xxl-center">
                    <div style="width: 50%;">
                        <p class="text-primary d-flex justify-content-start align-items-center m-0 fw-bold">
                            Grabaciones</p>
                    </div>
                    <div class="d-inline-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 justify-content-end align-items-center justify-content-sm-end justify-content-md-end align-items-md-start justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
                        <a href="{% url 'record_create' %}" class="btn btn-primary" title="Permite añadir una grabación"
                        ><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="" role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Clientes</th>
                            <th>Costos</th>
                            <th>Descripción</th>
                            <th>Operaciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in object_list %}
                            <tr style="/*padding: 0px;*/">
                                <td>
                                    {{ record.date_record }}
                                </td>
                                <td>
                                    <span role="button">
                                        <img src="{{ record.customer.get_photo }}"
                                             class="rounded-circle me-2 thumbnail"
                                             width="30" height="30" data-bs-toggle="modal"
                                             data-bs-target="#imagenModal"
                                             data-bss-tooltip=""
                                             data-img="{{ record.customer.get_photo }}" alt="cliente">
                                    </span>{{ record.customer.name }}
                                    <a class="btn btn-secondary btn-sm"
                                       href="{% url 'detail_customers' record.customer.pk %}"
                                       style="margin-left: 5px;">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </td>
                                <td>
                                    {% if record.is_debtor %}
                                        <span class="badge bg-danger" title="Esta grabación aún no se ha pagado">
                                             {{ record.price }}
                                             </span>
                                    {% else %}
                                        <span class="align-content-center text-center">
                                            {{ record.price }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if record.description %}
                                        <button class="btn btn-primary btn-sm annotations"
                                                id=""
                                                data-bs-toggle="modal" data-bss-tooltip=""
                                                type="button"
                                                data-bs-target="#modal-show-annotation"
                                                title="Permite mostrar los elementos de la descripción"
                                                data-description="{{ record.description }}"><i
                                                class="far fa-eye"></i></button>

                                    {% else %}
                                        <span>
                                            -
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'record_update' record.pk %}" class="btn btn-primary btn-sm"
                                       role="button" style="margin-right: 5px;"
                                       title="Permite editar los atributos de una grabación"><i
                                            class="fas fa-edit"></i></a>

                                    <a class="btn btn-danger btn-sm btn-deleted"
                                       data-bs-toggle="tooltip"
                                       data-bss-tooltip=""
                                       role="button"
                                       style="margin-right: 5px;"
                                       data-bs-target="#modal-show-annotation"
                                       data-url="{% url 'record_delete' record.pk %}"
                                       title="Permite eliminar una grabación">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Fecha</th>
                            <td><strong>Clientes</strong></td>
                            <td><strong>Costo</strong></td>
                            <td><strong>Descripción</strong><br></td>
                            <td><strong>Operaciones</strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        {% include 'layout/modals/show_image.html' %}
    </div>
    {% include 'layout/modals/modal-add-record.html' %}
    {% include 'layout/modals/modal-show-descriptions.html' %}
    {% include 'layout/modals/modal-add-customer.html' %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'assets/js/table.js' %}"></script>

    <script>
        hover_function();
        let table = new DataTable('#dataTable', {
            language: {
                info: 'Mostrando página _PAGE_ de _PAGES_',
                infoEmpty: 'No existen registros a mostrar',
                infoFiltered: '(Buscado de _MAX_ registros total)',
                lengthMenu: 'Mostrar _MENU_ registros por página',
                zeroRecords: 'No existen registros - lo sentimos'
            },
            "order": [[0, 'desc']],
            "pageLength": 50,
        });
    </script>
    <script>
        $('#form-update-annotation').on('submit', function (event) {
            event.preventDefault();
            let id = $('#annotation-id').val()
            let url = '/app/annotation/update/' + id
            $.ajax({
                type: 'POST',
                url: url,
                data: $(this).serialize(),
                success: function (response) {
                    location.reload()
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: response.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    // Actualizar el modal
                },
                error: function (response) {
                    alert('Error al actualizar el producto: ' + JSON.stringify(response.responseJSON.error));
                }
            });
        });
    </script>
    <script>
        /////////////////////////////////////
        // Cargar dinámicamente los modals //
        /////////////////////////////////////
        $('#dataTable').on('click', '.thumbnail', function () {
            let imgSrc = $(this).data('img');
            $('#imagenGrande').attr('src', imgSrc);
        });
        $('#dataTable').on('click', '.annotations', function () {
            let description = $(this).data('description');
            $('#textarea-description').val(description);
        });
    </script>

    <script>
        $('#dataTable').on('click', '.btn-deleted', function () {
            let element = $(this);
            let url = $(this).data('url');
            Swal.fire({
                title: "Deseas realmente eliminar esta grabación?",
                showCancelButton: true,
                confirmButtonText: "Eliminar",
            }).then((result) => {
                if (result.isConfirmed) {
                    /* Read more about isConfirmed, isDenied below */
                    $.ajax({
                        url: url, // Reemplaza con la URL de tu DeleteView
                        type: 'DELETE',
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},  // Asegúrate de incluir el token CSRF
                        success: function (response) {
                            let currentPage = table.page(); // Obtener la página actual
                            let row = table.row(element.parents('tr'));
                            row.remove().draw(false); // Restablecer la estructura de la tabla sin redibujarla
                            // Volver a la página actual después de la eliminación
                            table.page(currentPage).draw('page');
                            // Notificar
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: response.message,
                                showConfirmButton: false,
                                timer: 1500
                            });
                            // Aquí puedes realizar alguna acción adicional después de la eliminación
                        },
                        error: function (error) {
                            console.log(error)
                            Swal.fire("Error deleting element", "", "error");
                        }
                    });

                } else if (result.isDenied) {
                }
            });
            // Resto del código para eliminar la fila y mostrar la confirmación
        });
    </script>
{% endblock %}

    
